https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b
https://www.kaggle.com/code/waxbabi/light-gbm-benchmark-0-3692
https://asagar60.medium.com/instacart-market-basket-analysis-part-1-introduction-eda-b08fd8250502

In [19]:
import os
import numpy as np
import pandas as pd

# Problem Overview

The main objective of this competition was to predict which previously purchased products will be in the user's next order.

we are not recommending new products to the user instead of that we are going to recommend the product which is previously bought by that user.

### 과거에 산 상품들 중에서, 유저가 재구매할 상품을 추천하는 문제

At first, it seems like Multi-Label Classification, but there are 49688 products, and total product recommendations could be anywhere from None to N. Therefore, this problem is restructured into a binary classification problem, where we will predict the probability of an item being reordered by a user.

For each order, we will group these probabilities to  pick top K probable products which will be reordered, and recommend those to the user.

1. 만약 어떤 유저 A가 90번의 주문을 했다고 가정, 이는 prior_orders_data에 저장되어 있음
2. 89번까지의 주문을 사용해 features engineering을 진행
3. 89에서 주문한 상품 중, 90번에서 또 주문할 확률을 구해 상품을 추천

### Multi-Label Classification이 아닌 Binary Classification으로 진행. order별로 구매할 확률이 높은 K개의 상품을 뽑고 해당 상품이 재주문 되었는지로 평가

재구매 여부와 동시에 추천여부를 결정하는 과정에서 미리 설정한 Threshold 값을 사용함
- Threshold의 값을 GridSearchCV를 활용한 결과, 0.5가 아닌 0.22로 진행함

## Model 종류
* Reorder Prediction : probability of a product being redordered by user in next order (6개의 model, Average)
* None Prediction : probability of a reordered product to be in user's next order (17개의 model, Weighted Average)

## F1 Score Maximization
__지금 이 부분에서 이해가 안됨__
* F1 Score를 최대화하는 threshold를 만듬
* 그런데 여기서 A, B 상품이 무엇을 의미하는지 모르겠음
* Let, reorder probability of product, P(A) = 0.9 and P(B) = 0.3
* F1(A) > F1(A B) 이 부분을 보니 뭔가 F1 Score가 평가 Metric이 아닌 출력관련 내용같음

aisle은 대분류로 생각하면 될거같음

## Generate Training Data
* prior_orders_data만을 사용하여 Train Data를 생성함
* 어떤 유저 A가 80번의 주문(order)를 했다면, 79번째 주문까지의 데이터를 활용하여 feature engineering을 진행하고 80번째 주문을 label사용

## Generate Validation Data
* train_orders_data는 user 별로 하나의 주문을 가지고 있는데, 이를 label로 사용
* feature data는 Training Data에서 사용하고 있는 feature data를 재사용함
* 개인적으로 궁금한 점은, validation, test의 label이 train과 유사할수록 평가 점수가 높게 나타나는 것이 아닌가 싶고 이게 옳은건가 라는 생각이 됨

# Data Overview

In [20]:
base_path = '../Data/InstaCart'

In [21]:
priors = pd.read_csv(os.path.join(base_path, 'order_products__prior.csv'))
train = pd.read_csv(os.path.join(base_path, 'order_products__train.csv'))
orders = pd.read_csv(os.path.join(base_path, 'orders.csv'))
products = pd.read_csv(os.path.join(base_path, 'products.csv'))

* order_id : 주문 고유 아이디
* user_id : 소비자 고유 아이디
* product_id : 제품 고유 아이디
* eval_set : 소비자 군(prior / train / test)
* order_number : 주문번호
* order_dow : 주문 요일
* order_hoour_of_day : 일일 중 시간
* days_since_prior_order : 
* add_to_cart_order : 장바구니 담은 제품 개수
* reodered : 재주문 제품 개수
* product_name : 제품 이름
* aisle_id : 제품 상세카테고리 고유 아이디
* department_id : 제품 카테고리 고유 아이디
* aisle : 제품 상세카테고리
* department : 제품 카테고리

### 주문정보

This table includes all orders, namely prior, train and test. It has a single primary key (order_id)

In [22]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [23]:
orders.order_dow = orders.order_dow.astype(np.int8)
orders.order_hour_of_day = orders.order_hour_of_day.astype(np.int8)
orders.order_number = orders.order_number.astype(np.int16)
orders.order_id = orders.order_id.astype(np.int32)
orders.user_id = orders.user_id.astype(np.int32)
orders.days_since_prior_order = orders.days_since_prior_order.astype(np.float32)

### (과거) 구매자군의 제품주문내역
Order history of every user. This data contains nearly 3-100 past orders per user

In [24]:
priors.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [25]:
priors.order_id = priors.order_id.astype(np.int32)
priors.add_to_cart_order = priors.add_to_cart_order.astype(np.int16)
priors.reordered = priors.reordered.astype(np.int8)
priors.product_id = priors.product_id.astype(np.int32)

### (현재) 구매자군의 제품주문내역

Current order data of every user. This data contains only 1 order per user

In [26]:
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [27]:
train.reordered = train.reordered.astype(np.int8)
train.add_to_cart_order = train.add_to_cart_order.astype(np.int16)

### 제품정보

In [28]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [29]:
products.drop(['product_name'], axis=1, inplace=True)
products.aisle_id = products.aisle_id.astype(np.int8)
products.department_id = products.department_id.astype(np.int8)
products.product_id = products.product_id.astype(np.int32)

### Generate product only features

In [37]:
def generate_product_features(prior_data = None):
    priors = prior_data.copy()
    
    product_features = pd.DataFrame(columns = ['product_id'])
    
    product_features['product_id'] = priors['product_id'].sort_values().unique()
    
    df = pd.DataFrame({'reorder_rate' : prior.groupby(['product_id', 'reordered'])['reordered'].count().groupby(level = 0).apply(lambda x : x/float(x.sum()))}).reset_index()
    
    new_df = df[df['reordered'] == 1]
    new_df['reorder_rate'] = new_df['reorder_rate'] * new_df['reordered']
    
    # 한번도 reordered된 적 없는 상품
    new_df_1 = df[(df['reordered'] == 0) & (df['reorder_rate'] == float(1.0))]
    new_df_1['reorder_rate'] = new_df_1['reorder_rate'] * new_df_1['reordered']
    new_df = new_df.append(new_df_1)
    
    new_df.drop('reordered', axis = 1, inplace = True)
    new_df.sort_values(by = 'product_id', inplace = True)
    new_df = new_df.reset_index(drop = True)
    
    product_features['product_reorder_rate'] = new_df['reorder_rate']
    
    # 상품을 카트에 담는 평균 순서
    mean_position = priors.groupby(['product_id'])['add_to_cart_order'].mean().reset_index(name = 'mean_position')
    mean_positionp.sort_values(by = 'product_id', inplace = True)
    product_features['avg_pos_incart'] = mean_position['mean_position']
    
    products['organic'] = products['product_name'].apply(lambda x: 'organic' in x.lower()).astype(int)
    products['isYogurt'] = products['aisle_id'].apply(lambda x: x==120).astype(int)

    products['isProduce'] = products['department_id'].apply(lambda x: x==4).astype(int)
    products['isFrozen'] = products['department_id'].apply(lambda x: x==1).astype(int)
    products['isdairy'] = products['department_id'].apply(lambda x: x==16).astype(int)
    products['isbreakfast'] = products['department_id'].apply(lambda x: x==14).astype(int)
    products['issnack'] = products['department_id'].apply(lambda x: x==19).astype(int)
    products['isbeverage'] = products['department_id'].apply(lambda x: x==7).astype(int)

    new_product_feat = products[['organic', 'isYogult', 'isProduce', 'isFrozen', 'isdairy', 'isbreakfast', 'issnack', 'isbeverage']]
    
    from sklearn.decomposition import NMF
    from sklearn.preprocessing import normalize
    
    nmf = NMF(n_components = 3)
    model = nmf.fit(new_product_feat)
    W = model.transform(new_product_feat)
    prod_data = pd.DataFrame(normalize(W))
    
    prod_data.columns = ['p_reduced_feat_1', 'p_reduced_feat_2', 'p_reduced_feat_3']
    products.drop(['organic', 'isYogurt', 'isProduce', 'isFrozen', 'isdairy', 'isbreakfast', 'issnack', 'isbeverage'], axis = 1, inplace = True)
    
    product_features['p_reduced_feat_1'] = prod_data['p_reduced_feat_1']
    product_features['p_reduced_feat_2'] = prod_data['p_reduced_feat_2']
    product_features['p_reduced_feat_3'] = prod_data['p_reduced_feat_3']
    
    df = prior.groupby(['aisle']).size().reset_index(name = 'order_count')
    aisle_reorder_rate = priors[priors['reordered'] == 1].groupby(['aisle']).size().reset_index(name = 'reorder_rate')
    df['aisle_reorder_rate'] = aisle_reorder_rate['reorder_rate']/df['order_count']
    df.drop(['order_count'], axis = 1, inplace = True)
    new_df = pd.merge(prior, df, on = 'aisle')
    
    df = prior.groupby(['department']).size().reset_index(name = 'order_count')
    aisle_reorder_rate = priors[priors['reordered'] == 1].groupby(['aisle']).size()
    df['dept_reorder_rate'] = aisle_reorder_rate['reorder_rate']/df['order_count']
    new_df = pd.merge(new_df, df, on = 'department')
    
    new_df = new_df[['product_id', 'aisle_id', 'department_id', 'aisle_reorder_rate', 'dept_reorder_rate']]
    new_df.drop_duplicates(keep = 'first', inplace = True)
    
    product_features = pd.merge(product_features, new_df, on = 'procut_id', how = 'inner')
    
    del df, new_df, new_df_1, new_product_feat, model, prod_data
    return product_features

### Generate User only Features

In [21]:
priors.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [31]:
def generate_user_features(prior_data = None, order_data = None):
    priors_tmp = prior_data.copy()
    orders = order_data.copy()
    
    priors_tmp = priors_tmp.merge(orders[['order_id', 'user_id', 'days_since_prior_order']], on = 'order_id', how = 'left')
    
    user_features = pd.DataFrame(columns = ['user_id'])
    user_features['user_id'] = priors_tmp['user_id'].sort_values().unique()
    
    user_reorder_rate = priors_tmp.groupby(['user_id', 'reordered'])['reordered'].count().groupby(level = 0).apply(lambda x : x/float(x.sum())).reset_index(name = 'reorder_rate')
    user_reorder_rate = user_reorder_rate.pivot(index = 'user_id', columns = 'reordered', values = ['reorder_rate'])
    user_reorder_rate = pd.DataFrame(user_reorder_rate.to_records())
    user_reorder_rate.columns = ['user_id', '0', '1']
    user_reoder_rate.set_index('user_id', inplace = True)
    user_reoder_rate.fillna(0, inplace = True)
    user_reorder_rate.reset_index(inplace = True)
    user_features['user_reorder_rate'] = user_reorder_rate['1']
    
    user_features['user_unique_products'] = priors_tmp.groupby(['user_id'])['product_name'].nunique().reset_index(name = 'unique')['unique']
    user_features['user_total_products'] = priors_tmp.groupby(['user_id'])['product_name'].size().reset_index(name = 'count')['count']
    
    # 유저별 카트에 넣는 상품의 평균 갯수
    df = priors_tmp.groupby(['user_id', 'order_id'])['add_to_cart_order'].count().reset_index(name = 'cart_size').groupby(['user_id'])['cart_size'].mean().reset_index()
    
    user_features['user_avg_cart_size'] = df['cart_size']
    
    # mean_days_between_orders를 구하는 과정인데, order별로 최대값을 구하고 그 값들의 평균을 통해 mean_days_between_orders를 산출함.
    # 그런데 나의 생각은 
    # 1) order별로 평균을 구한 후, 평균을 구하는 방법
    # 2) order별로 days_since_prior_order의 합을 구하고 평균을 구하는 방법
    # 위의 2가지 방법 중 하나를 선택해서 진행해야 하는 것이 아닌가 싶음
    df = priors_tmp.groupby(['user_id', 'order_id'])['days_since_prior_order'].max().reset_index(name = 'mean_days_between_orders').groupby(['user_id'])['mean_days_between_orders'].mean().reset_index()
    
    user_features['user_avg_days_between_orders'] = df['mean_days_between_orders']
    
    df['user_id'] = priors_tmp['user_id'].sort_values().unique()
    df['user_unique_products'] = priors_tmp.gorupby(['user_id'])['product_id'].nunique().reset_index(name = 'unique')['unique']
    df['user_reordered_products'] = priors_tmp[priors_tmp['reordered'] == 1].gourpby(['user_id'])['product_id'].nunique().reset_index(name = 'reordered_unique')['reordered_unique']
    df.fillna(0, inplace = True)
    user_features['user_reordered_products_ratio'] = df['user_reordered_products'] / df['user_unique_products']
    
    del df
    
    return user_features

### Generate User Product Features

In [32]:
priors.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
def generate_user_product_features(prior_data = None, order_data = None):
    priors_tmp = prior_data.copy()
    orders = order_data.copy()
    
    priors_tmp = priors_tmp.merge(orders[['order_id', 'user_id']], on = 'order_id', how = 'left')
    
    user_product_features = pd.DataFrame(columns = ['user_id', 'product_id'])
    u_p = priors_tmp.groupby(['user_id', 'product_id']).size().reset_index()
    user_product_features['user_id'] = u_p['user_id']
    user_product_features['product_id'] = u_p['product_id']
    
    df = priors_tmp.groupby(['user_id','product_id'])['reordered'].size()
    df = df/priors_tmp.groupby(['user_id']).size()
    df = df.reset_index(name = 'order_rate')
    df.fillna(0. , inplace = True)
    user_product_features['u_p_order_rate'] = df['order_rate']
    
    df = priors_tmp[prior_tmp['reoredered'] == 1].goupby(['user_id', 'producdt_id'])['reordered'].size()
    df = df/priors_tmp.groupby(['user_id', 'product_id']).size()
    df = df.reset_index(name = 'reorder_rate')
    df.fillna(0, inplace = True)
    user_product_features['u_p_reorder_rate'] = df['reorder_rate']
    
    # max_streak
    # max_streak 함수를 만들어야함
    # max_streak이 정확하게 무엇을 의미하는지 확인이 필요함
#     df = priors_tmp.groupby(['user_id', 'product_id'])['reordered'].apply(list).reset_index(name = 'max_streak')
#     df['max_streak'] = df['max_streak'].apply(max_streak)
#     user_product_features = pd.merge(user_product_features, df, on = ['user_id', 'producdt_id'])

    del df, new_df, df_2
    return user_product_features

In [34]:
asdf = priors.copy()
asdf = asdf.merge(orders[['order_id', 'user_id']], on = 'order_id', how = 'left')

user_id  product_id
1        196           10
         10258          9
         10326          1
         12427         10
         13032          3
                       ..
206209   43961          3
         44325          1
         48370          1
         48697          1
         48742          2
Name: reordered, Length: 13307953, dtype: int64

In [36]:
asdf.groupby(['user_id', 'product_id'])['reordered'].apply(list).reset_index(name = 'max_streak')

          user_id  product_id                       reordered
0               1         196  [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
1               1       10258     [1, 1, 1, 1, 1, 0, 1, 1, 1]
2               1       10326                             [0]
3               1       12427  [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
4               1       13032                       [1, 0, 1]
...           ...         ...                             ...
13307948   206209       43961                       [1, 0, 1]
13307949   206209       44325                             [0]
13307950   206209       48370                             [0]
13307951   206209       48697                             [0]
13307952   206209       48742                          [0, 1]

[13307953 rows x 3 columns]